In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
from predcontrol_sf.data_loader import load_data_bom_aus

In [2]:
data_folder = Path(r"C:\Users\sgnodde\Documents\data\data_stony_creek_at_spotswood")

In [3]:
rainfall = load_data_bom_aus(data_folder/'stonycreek_rainfall.csv')
discharge = load_data_bom_aus(data_folder/'stonycreek_discharge.csv')
level = load_data_bom_aus(data_folder/'stonycreek_level.csv')

In [4]:
import lightgbm as lgb

## Build dataset

In [15]:
data = discharge[['Value']].copy().rename(columns={'Value':'discharge'})
data = data.resample('30min').mean()
data['rainfall'] = rainfall['Value'].resample('30min').mean()
data
#data['rainfall'] = rainfall['Value']
#data.isna().mean()

                           discharge  rainfall
date
1998-05-22 15:30:00+10:00   0.096000       NaN
1998-05-22 16:00:00+10:00   0.405667       NaN
1998-05-22 16:30:00+10:00   0.838333       NaN
1998-05-22 17:00:00+10:00   0.791000       NaN
1998-05-22 17:30:00+10:00   0.635333       NaN
...                              ...       ...
2022-01-10 22:00:00+10:00   0.050333       NaN
2022-01-10 22:30:00+10:00        NaN       NaN
2022-01-10 23:00:00+10:00   0.046000       NaN
2022-01-10 23:30:00+10:00   0.042000       NaN
2022-01-11 00:00:00+10:00   0.042000       0.0

[414450 rows x 2 columns]

In [17]:
rainfall['Value'].resample('30min').mean().isna().mean()

0.9453269683956623

In [23]:
rainfall['Value'].resample('2h').mean().isna().mean()

0.8772682316371637

In [18]:
rainfall

                           Value  Quality Code  Interpolation Type
date
1999-06-03 23:54:00+10:00    0.0           210                 201
1999-06-04 00:00:00+10:00    0.0            10                 201
1999-06-04 00:06:00+10:00    0.0           210                 201
1999-06-07 08:06:00+10:00    0.0           210                 201
1999-06-07 10:18:00+10:00    0.0           210                 201
...                          ...           ...                 ...
2022-01-08 08:03:00+10:00    0.2           140                 201
2022-01-08 15:00:00+10:00    0.0           140                 201
2022-01-08 15:01:00+10:00    0.2           140                 201
2022-01-08 23:59:00+10:00    0.0           140                 201
2022-01-11 00:00:00+10:00    0.0           140                 201

[60919 rows x 3 columns]